version: "3.9"
services:
  ui:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8502:8501"
    environment:
      - ART_DIR=/app/artefactos/v1
    volumes:
      - ./artefactos:/app/artefactos:rw
    restart: unless-stopped
